CONFIG_BASE_DEFCONFIG="rk3568_defconfig"
CONFIG_LOADER_INI="RK3566MINIALL_ULTRA.ini"
CONFIG_ROCKCHIP_EBC_TCON=y
CONFIG_ROCKCHIP_EINK_DISPLAY=y
CONFIG_ROCKCHIP_EINK=y
CONFIG_LED=y
CONFIG_LED_GPIO=y
CONFIG_ROCKCHIP_TPS65185=y
CONFIG_ROCKCHIP_SY7636A=y
CONFIG_DEFAULT_DEVICE_TREE="rk3568-multidtb-evb"
CONFIG_OF_LIST="rk3568-multidtb-evb"
CONFIG_ROCKCHIP_HWID_DTB=y
CONFIG_TRUST_INI="RK3566TRUST_ULTRA.ini"
CONFIG_OPTEE_ALWAYS_USE_SECURITY_PARTITION=y
